{
  "registry-mirrors": ["{{ REG_MIRROR_1 }}", "{{ REG_MIRROR_2 }}","https://zgw3hh7q.mirror.aliyuncs.com"],
  "max-concurrent-downloads": 10,
  "log-driver": "{{ LOG_DRIVER }}",
  "log-level": "{{ LOG_LEVEL }}",
  "log-opts": {
    "max-size": "{{ LOG_MAX_SIZE }}",
    "max-file": "{{ LOG_MAX_FILE }}"
    },
  "graph": "{{ STORAGE_DIR }}",
  "storage-driver": "{{ STORAGE_DIV }}",
  "storage-opts": [
"overlay2.override_kernel_check=true"]
}
