#!/usr/bin/env bash
source ~/.bashrc && {{ DOCKER_INSTALL_PATH }}/docker/dockerd --config-file {{ DOCKER_CONFIG_PATH }}/daemon.json -H tcp://0.0.0.0:2375 \
 -H unix://{{ SOCKET_FILE_PATH }}/docker.sock --pidfile {{ SOCKET_FILE_PATH }}/docker.pid